.featured_banner_area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 520px;

}
h3{
    color: rgb(216, 52, 52);
    margin-top: 15rem;
}

