a {
    text-decoration: none !important;
}
/*
featured_banner_area
*/
.featured_banner_area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 520px;

}
.featured_banner_area h3{
    color: #fff;
    text-transform: uppercase;
   
}
.featured_banner_area .featued_area {
    margin-top: 15rem;
    
}
.featured_banner_area .featued_area h1 a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    
}
.featued_area p a {
    color: #fff;
    text-transform: uppercase;
}

/*
id_featured_area
*/
.id_featured_area {
    padding-top: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-row: 1 / span 2;
  }
.id_featured_area img {
    width: 100% !important;
    min-height: 250px;
    padding-bottom: 25px;
}
.id_featured_body {
    position: relative;
}
.id_featured_area a, .id_featured_area h3, .id_featured_area h1 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.id_featured_body h3 {
    font-size: 18px;
}
.id_featured_body h1 {
    font-size: 25px;
}
.id_featured_content {
    margin-left: 20px;
}
.id_featured_content .cat_name_1{
    position: absolute;
    top: 10%;
    
}
.id_featured_content .title_1{
    position: absolute;
    top: 15%;
}
.id_featured_content .subtitle_1{
    position: absolute;
    top: 22%;
}

.id_featured_content .cat_name_2{
    position: absolute;
    top: 70%;
    
}
.id_featured_content .title_2{
    position: absolute;
    top: 76%;
}
.id_featured_content .subtitle_2{
    position: absolute;
    top: 88%;
}

/*
*/
.section_title {
    color: #000 !important;
}

/*
*/
.latest_posts_wrapper h1, .ajax_latest_posts h1 {
    font-size: 20px;
}
.btn-load-more {
    color: #000 !important;
}

